<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <!-- <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/pages/profile/cover.jpg"
                alt="Cover image">
        </div> -->

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    src="assets/images/avatars/male-04.jpg"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">Brian Hughes</div>
                <div class="text-secondary">London, UK</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">28 Years</span>
                    <span class="text-sm font-medium text-secondary">AGE</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">5.9 feet</span>
                    <span class="text-sm font-medium text-secondary">HEIGHT</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">Fair</span>
                    <span class="text-sm font-medium text-secondary">COLOR</span>
                </div>
            </div>
            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>
            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">ISLAM</span>
                    <span class="text-sm font-medium text-secondary">RELIGION</span>
                </div>                
                <div class="flex flex-col items-center">
                    <span class="font-bold">HANAFI</span>
                    <span class="text-sm font-medium text-secondary">MASLAK</span>
                </div>
            </div>
            <!-- Menu -->
            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    My Profile
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Preferrences
                </a>
                <!-- <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Followers
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Gallery
                </a> -->
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full mx-auto pt-6 sm:pt-8">

        <!-- Column -->
        <div class="hidden lg:flex flex-col items-start">
            <!-- About me -->
            <fuse-card class="flex flex-col w-full p-8">
                <div class="text-lg font-semibold leading-tight">About Me</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Basics and Lifestyle</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Religious Background</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Family details</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Education & Career</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Location of Groom</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
                <div class="text-lg font-semibold leading-tight">Hobbies, Interests & more</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
            </fuse-card>
            <div class="flex flex-col flex-auto min-w-0">

</div>
            <!-- Sectioned form with dividers #2 -->
            <div class="prose prose-sm max-w-3xl p-3 mt-3">
                <h2>Partner Preferences</h2>
                <p>
                    This sectioned form example uses dividers to separate the different sections of the form, section title and description is horizontally aligned with the section
                    fields. Form fields uses <em>mat-label</em> to have separate labels as well as placeholders for hints.
                </p>
            </div>
            <fuse-card class="flex flex-col w-full p-3 mt-3">
                <div class="text-lg font-semibold leading-tight">Basic Info</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col w-full p-3 mt-3">
                <div class="text-lg font-semibold leading-tight">Location Details</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col w-full p-3 mt-3">
                <div class="text-lg font-semibold leading-tight">Education & Career</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col w-full p-3 mt-3">
                <div class="text-lg font-semibold leading-tight">Other Details</div>
                <div class="mt-4">
                  <p>
                    Alhamdulilah! It is a pleasure sharing a few things about myself. In terms of education, I have completed my Masters in Engineering from a renowned institution. I've been an active student throughout my academic years.As a family, we are closely connected and support each other. I want my life partner to be my best friend throughout life and want to live a happy life with my partner. Thank you for expressing interest in my profile.
                  </p>
                </div>
            </fuse-card>
            <div class="prose prose-sm max-w-3xl p-3 mt-3">
                <h2>My Contact detail</h2>
                <p>
                    This sectioned form example uses dividers to separate the different sections of the form, section title and description is horizontally aligned with the section
                    fields. Form fields uses <em>mat-label</em> to have separate labels as well as placeholders for hints.
                </p>
            </div>
        </div>

  
    </div>

</div>
